<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand" routerLink="/">User Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Main</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/post">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/find" tabindex="-1" aria-disabled="true">Find</a>
        </li>
      </ul>
    </div>
  </nav>